<div class="container">
    <form (submit)='buscarPuesto()' #form="ngForm">
        <div class="form-row mt-5">
            <div class="form-group col-md-7 offset-2">
            <input class="form-control" type="text" matInput [(ngModel)]="oferta.oferta" placeholder="Buscar ofertas de..." [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-2">
                <button class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </form>
</div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 mt-5" *ngFor="let oferta of ofertaTrabajo">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                              <fa-icon class="business-icon" [icon]="faBuilding"></fa-icon>
                            </div>
                            <div class="col-md-9">
                                <h4 class="card-title">{{oferta.oferta_trabajos_titulo}}</h4>
                                <span class="card-location">
                                  <fa-icon class="location-icon" [icon]="faMapMarkerAlt"></fa-icon>
                                  {{oferta.ciudades_nombre}}
                                </span>
                                <div class="datetime-container">
                                    <span class="card-date-publication">
                                        <fa-icon [icon]="faCalendarAlt"></fa-icon>
                                        {{oferta.oferta_trabajos_fecha_publicacion | date: 'EEE dd/MM/yy'}}
                                    </span>
                                    <span class="card-time-publication">
                                        <fa-icon [icon]="faClock"></fa-icon>
                                        {{oferta.oferta_trabajos_fecha_publicacion | date: 'HH:mm'}}
                                    </span>
                                </div>
                                <div class="card-description">
                                  {{oferta.oferta_trabajos_descripcion}}
                                </div>
                                <button href="#" class="btn civi-btn-primary" (click)="solicitarOferta(oferta.oferta_trabajos_num)" *ngIf=Usuario>Solicitar</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
 </div>
