<div class="container-fluid">
    <!-- header empresa -->
    <nav *ngIf="Empresa" [ngClass]="'cajaUsuario'" class="header navbar navbar-expand-md navbar-light bg-light">
        <a routerLink="/home" routerLinkActive="active-link">
            <img class="logo mr-4" src={{logo}} style="margin-right:20px">
        </a>

        <!-- buttons-left -->
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a
                        class="btn btn-buscar-empleo my-2 mr-sm-3"
                        routerLink="/ofertas"
                        routerLinkActive="active-link">BUSCAR EMPLEO</a>

                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a
                        class="btn btn-logged my-2 mr-sm-2 text-right"
                        routerLink="/ver-perfil-empresa"
                        value="algo"
                        routerLinkActive="active-link">Perfil de Empresa</a>
                    <a
                        class="btn btn-logged my-2 mr-sm-3 text-right"
                        routerLink="/administrar-solicitud-empresa"
                        routerLinkActive="active-link">Panel de Solicitudes</a>
                    <a
                        class="btn btn-logged my-2 mr-sm-3"
                        routerLink="/administrar-ofertas-empresa"
                        value="algo"
                        routerLinkActive="active-link">Administrar Ofertas</a>
                <button
                    class="btn btn-login my-2 mr-sm-3"
                    (click)="desconectarEmpresa()">Desconectar</button>
            </form>
        </div>
    </nav>
    <!-- fin header empresa -->

    <!-- header usuario -->
    <nav *ngIf="Usuario" [ngClass]="'cajaUsuario'" class="header navbar navbar-expand-md navbar-light bg-light">
        <a routerLink="/home" routerLinkActive="active-link">
            <img class="logo mr-4" src={{logo}} style="margin-right:20px">
        </a>

        <!-- buttons-right -->
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a
                        class="btn btn-buscar-empleo my-2 mr-sm-3 text-right"
                        routerLink="/ofertas"
                        routerLinkActive="active-link">BUSCAR EMPLEO</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a
                        class="btn btn-logged my-2 mr-sm-2 text-right"
                        routerLink="ver-perfil-candidato"
                        value="algo"
                        routerLinkActive="active-link">Perfil</a>
                    <a
                        class="btn btn-logged my-2 mr-sm-3 text-right"
                        routerLink="/administrar-solicitud-candidato"
                        routerLinkActive="active-link">Mis solicitudes</a>
                <button
                    class="btn btn-login my-2 mr-sm-3"
                    (click)="desconectarUsuario()">Desconectar</button>
            </form>
        </div>
    </nav>
    <!-- fin header usuario -->

    <!-- header anonimo -->
    <nav *ngIf="!Usuario && !Empresa" [ngClass]="'cajaUsuario'" class="header navbar navbar-expand-md navbar-light bg-light">
        <a routerLink="/home" routerLinkActive="active-link">
            <img class="logo mr-4" src={{logo}} style="margin-right:20px">
        </a>

        <!-- buttons-right -->
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a
                        class="btn btn-buscar-empleo my-2 mr-sm-3"
                        routerLink="/ofertas"
                        routerLinkActive="active-link">BUSCAR EMPLEO</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a
                    routerLink="/login-empresa" routerLinkActive="active-link"
                    class="btn btn-login my-2 mr-sm-3 text-right"
                    type="submit">Acceso empresas</a>
                <a
                    routerLink="/login-candidato" value="algo" routerLinkActive="active-link"
                    class="btn btn-login my-2 mr-sm-3 text-right"
                    type="submit">Acceso candidatos</a>
            </form>
        </div>
    </nav>
    <!-- fin header anonimo -->
</div>








