<app-filter-form></app-filter-form>
<div class="container">
    <div class="row">
        <div class="col-sm-6 mt-5" *ngFor="let oferta of todasOfertas">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                          <fa-icon class="business-icon" [icon]="faBuilding"></fa-icon>
                        </div>
                        <div class="col-md-9">
                            <h4 class="card-title">{{oferta.titulo}}</h4>
                            <span class="card-location">
                              <fa-icon class="location-icon" [icon]="faMapMarkerAlt"></fa-icon>
                              {{oferta.nombre}}
                            </span>
                            <div class="datetime-container">
                                <span class="card-date-publication">
                                    <fa-icon [icon]="faCalendarAlt"></fa-icon>
                                    {{oferta.fecha_publicacion | date: 'EEE dd/MM/yy'}}
                                </span>
                                <span class="card-time-publication">
                                    <fa-icon [icon]="faClock"></fa-icon>
                                    {{oferta.fecha_publicacion | date: 'HH:mm'}}
                                </span>
                            </div>
                            <div class="card-description">
                              {{oferta.descripcion_oferta}}
                            </div>
                            <button href="#" class="btn civi-btn-primary" (click)="solicitarOferta(oferta.id_oferta)" *ngIf=Usuario>Solicitar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div>
    <div>
        <app-filter-form></app-filter-form>
    </div>
    <div *ngFor="let oferta of todasOfertas">
       <p>
        {{oferta.titulo}}
       </p>
       <p>
        {{oferta.nombre}}
       </p>
       <button *ngIf=Usuario>solicitar</button>
    </div>
</div> -->
