


<!-- <div class="container-predefined-query">
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <p class="info-card">Búsquedas más frecuentes</p>
            </div>
        </div>
        <div class="row">

            <div class="col">
                <div class="img-thumbnail text-center">
                    <img class="card-img" src="https://dummyimage.com/196x196;" alt="Card image">
                    <div class="card-img-overlay">
                        <a routerLink="/filtro-ciudades" routerLinkActive="active-link">
                            <p class="text-center text-black-50">Todas las ciudades</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="img-thumbnail text-center">
                    <img class="card-img" src="https://dummyimage.com/196x196;" alt="Card image">
                    <div class="card-img-overlay">
                        <a routerLink="/filtro-ciudad" routerLinkActive="active-link">
                            <p class="text-center text-black-50">Ciudad</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="img-thumbnail text-center">
                    <img class="card-img" src="https://dummyimage.com/196x196;" alt="Card image">
                    <div class="card-img-overlay">
                        <a routerLink="/filtro-destacados" routerLinkActive="active-link">
                            <p class="text-center text-black-50">Destacados</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="img-thumbnail text-center">
                    <img class="card-img" src="https://dummyimage.com/196x196;" alt="Card image">
                    <div class="card-img-overlay">
                        <a routerLink="/filtro-puesto-trabajo" routerLinkActive="active-link">
                            <p class="text-center text-black-50">Puesto de Trabajo</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div> -->