<nav>
    <ul>
        <li>
            <a routerLink="/filtro-popularidad" routerLinkActive="active-link">Popularidad</a>
        </li>
    </ul>
    <ul>
        <li>
            <a routerLink="/filtro-ciudades" routerLinkActive="active-link">Todas las ciudades</a>
        </li>
    </ul>
    <ul>
        <li>
            <a routerLink="/filtro-ciudad" routerLinkActive="active-link">Ciudad</a>
        </li>
    </ul>
    <ul>
        <li>
            <a routerLink="/filtro-destacados" routerLinkActive="active-link">Destacados</a>
        </li>
    </ul>
    <ul>
        <li>
            <a routerLink="/filtro-puesto-trabajo" routerLinkActive="active-link">Puesto de trabajo</a>
        </li>
    </ul>
</nav>
