<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th width="10%" scope="col">id. Solicitud</th>
                    <th width="20%" scope="col">Nombre de la oferta</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acción</th>
                  </tr>
                </thead>
                <tbody *ngFor="let solicitud of solicitudes[0]">
                  <tr>
                    <th scope="row">{{solicitud.solicitudes_num_solicitud}}</th>
                    <td>{{solicitud.oferta_trabajos_titulo}}</td>
                    <td>{{solicitud.oferta_trabajos_descripcion}}</td>
                    <td>{{solicitud.solicitudes_estado}}</td>
                    <td>
                        <div *ngIf= "solicitud.solicitudes_estado === 'Pendiente'">

                            <p>{{solicitud.solicitudes_estado}}</p>
                            <button class="btn btn-outline-success" (click)="cambiarSolicitud('Aceptado', solicitud.solicitudes_num_solicitud)">
                            Aceptar
                            </button>
                            <button class="btn btn-outline-danger" (click)="cambiarSolicitud('Rechazado', solicitud.solicitudes_num_solicitud)">
                                Rechazar
                            </button>


                        </div>
                        <div class="cajaEstado" *ngIf= "solicitud.solicitudes_estado !== 'Pendiente'">


                            <button class="btn btn-outline-danger boton" (click)="borrarSolicitud(solicitud.solicitudes_num_solicitud)">X</button>


                        </div>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!--
<div class="contenedor">



    <div>
        <div class="container titulos">
            <div class="row">
                <h5 class=" col-md-1">Solicitud</h5>
                <h5 class=" col-md-1">Nombre</h5>
                <h5 class=" col-md-1">Apellido</h5>
                <h5 class=" col-md-1">Título</h5>
                <h5 class=" col-md-3">Descripción</h5>
                <h5 class=" col-md-1">Estado</h5>
            </div>
        </div>

        <div class="container" *ngFor="let solicitud of solicitudes[0]" >

                 <div class="row">
                    <div class=" col-md-1">
                    <p>{{solicitud.solicitudes_num_solicitud}}</p>
                    </div>
                    <div class=" col-md-1">
                    <p>{{solicitud.usuarios_nombre}}</p>
                    </div>
                    <div class=" col-md-1">
                        <p>{{solicitud.usuarios_apellido}}</p>
                        </div>
                        <div class=" col-md-1">
                        <p>{{solicitud.oferta_trabajos_titulo}}</p>
                        </div>

                        <div class=" col-md-3">
                        <p>{{solicitud.usuarios_descripcion}}</p>
                        </div>
                        <div class=" col-md-3">


                        <div class="cajaEstado" *ngIf= "solicitud.solicitudes_estado === 'Pendiente'">



                            <p>{{solicitud.solicitudes_estado}}</p>
                            <button class="btn btn-outline-success" (click)="cambiarSolicitud('Aceptado', solicitud.solicitudes_num_solicitud)">
                            Aceptar
                        </button>
                        <button class="btn btn-outline-danger" (click)="cambiarSolicitud('Rechazado', solicitud.solicitudes_num_solicitud)">
                            Rechazar
                        </button>
                        </div>


                    <div class="cajaEstado" *ngIf= "solicitud.solicitudes_estado !== 'Pendiente'">
                        <p>{{solicitud.solicitudes_estado}}</p>

                        <button class="btn btn-outline-danger boton" (click)="borrarSolicitud(solicitud.solicitudes_num_solicitud)">X</button>
                    </div>
                </div>
                 </div>


        </div>
    </div>


    </div> -->