<div class="container">

    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5">
            <div class="row">
                <div class="col">
                    <h2 class="text-center">Crear Oferta</h2>
                </div>
            </div>
            <form (submit)='crearOferta()' #form="ngForm">
                <div class="row mb-3">
                    <span>Título</span>
                    <input class="form-control" type="text" matInput [(ngModel)]="nuevaOferta.titulo" [ngModelOptions]="{standalone: true}">
                </div>

                <div class="row mb-3">
                    <span>Descripción</span>
                    <input class="form-control" type="text" matInput [(ngModel)]="nuevaOferta.descripcion_oferta" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="row mb-3 mr-1">
                            <span>Salario</span>
                            <input class="form-control" type="number" matInput [(ngModel)]="nuevaOferta.salario" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row mb-3">
                            <span>Categoría</span>
                            <input class="form-control" type="number" matInput [(ngModel)]="nuevaOferta.id_categoria" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <span>Ciudad</span>
                    <input class="form-control" type="number" matInput [(ngModel)]="nuevaOferta.id_ciudad" [ngModelOptions]="{standalone: true}">
                </div>

              

                <div class="row mb-3">
                    <button class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- ------------------------------------------------------ -->
<div class="contenedor">
    <div>
        <div class="container titulos">
            <div class="row">
                <h5 class=" col-md-1">Oferta</h5>
                <h5 class=" col-md-3">Título</h5>
                <h5 class=" col-md-1">Popula<br/>ridad</h5>
                <h5 class=" col-md-3">Descripción</h5>
                <h5 class=" col-md-2">Fecha publicación</h5>
            </div>
        </div>
        
        <div class="container" *ngFor="let oferta of ofertas" >
                
                 <div class="row">
                    <div class=" col-md-1">
                        <p>{{oferta.id_trabajos}}</p>
                    </div>
                    <div class=" col-md-3">
                        <p>{{oferta.titulo}}</p>
                    </div>
                    <div class=" col-md-1">
                        <p>{{oferta.popularidad}}</p>
                    </div>
                    <div class=" col-md-3">
                        <p>{{oferta.descripcion_oferta}}</p>
                        </div>
                        
                        <div class=" col-md-2">
                            <p>{{oferta.fecha_publicacion}}</p>
                        </div>
                        <div class=" col-md-2">
    
                    
                            <button class="btn btn-outline-danger boton" (click)="borrarOferta(oferta.id_trabajos)">X</button>
                  
                   
                 </div>   
        </div>
    </div>
    
    
    </div>