
<div>
    <app-search></app-search>

    <div>
        <a routerLink="/filtro-popularidad" routerLinkActive="active-link"><img src="" alt="Popularidad"></a>
        <a routerLink="/filtro-ciudades" routerLinkActive="active-link"><img src="" alt="Todas las ciudades"></a>
        <a routerLink="/filtro-ciudad" routerLinkActive="active-link"><img src="" alt="Ciudad"></a>
        <a routerLink="/filtro-destacados" routerLinkActive="active-link"><img src="" alt="Destacados"></a>
        <a routerLink="/filtro-puesto-trabajo" routerLinkActive="active-link"><img src="" alt="Puesto de Trabajo"></a>

    </div>
</div>
